<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{../static/css/style.css}">

</head>
<body>

<div style="display: flex">
    <h1> Bookstore records</h1>
    <div>
        <a href="addbook.html">
            <button>Add book</button>
        </a>
    </div>


</div>

<table>
    <tr>
        <th>Book Name </th>
        <th>ISBN Number </th>
        <th>Author </th>
    </tr>
    <tr th:each="book : ${bookDetail}">
        <td th:text="${book.getIsbn_no()}"/>
        <td th:text="${book.getBook_name()}"/>
        <td th:text="${book.getAuthor_name()}"/>
        <td>
            <button> Delete </button>
        </td>
        <td>
            <button> Update </button>
        </td>
    </tr>


</table>









</body>
</html>