<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{../static/css/style.css}">

</head>
<body>

<div style="display: flex">
    <h1> Bookstore records</h1>
</div>




<div th:if="${edit=='yes'}">
    <p>Edit your data</p>

    <form th:action="@{/updateData}" method="post">
        <label>ISBN number</label>
        <input type="text" id="editIsbn" name="isbn" th:value="${editBook.getIsbn_no()}"><br>
        <label>Book name</label>
        <input type="text" id="editBookname" name="bookname" th:value="${editBook.getBook_name()}" ><br>
        <label>Author name</label>
        <input type="text" id="editAuthorname" name="authorname" th:value="${editBook.getAuthor_name()}"><br>
        <input type="submit" value="Submit Edit" />

<!--        <a th:href="@{/updateData(id=${editId}, isbn=${editBook.getIsbn_no()}, bookname=${editBook.getBook_name()}, authorname=${editBook.getAuthor_name()})}">-->
<!--            <input type="submit" value="Submit Edit" />-->
<!--        </a>-->
    </form>

</div>

<div  th:unless="${edit=='yes'}" id="main-container" style="display: flex">

    <div id="view-book-table">
        <table>
            <tr>
                <th>Book Name </th>
                <th>ISBN Number </th>
                <th>Author </th>
            </tr>
            <tr th:each="book : ${bookDetail}">
                <td th:text="${book.getId()}"/>
                <td th:text="${book.getIsbn_no()}"/>
                <td th:text="${book.getBook_name()}"/>
                <td th:text="${book.getAuthor_name()}"/>
                <td>
                    <a th:href="@{/deleteRecord(id=${book.getId()})}">
                        <input type="submit" value="Delete" />

                    </a>
                </td>
                <td>
                    <a th:href="@{/passRecordToEditForm(id=${book.getId()}, isbn=${book.getIsbn_no()}, bookname=${book.getBook_name()}, authorname=${book.getAuthor_name()})}">
                        <input type="submit" value="EDIT" />
                    </a>
                </td>
            </tr>
        </table>
    </div>



    <div id="add-book-form">

        <form th:action="@{/addBook}" method="post">

            <label>ISBN number</label>
            <input type="text" id="isbn" name="isbn" ><br>
            <label>Book name</label>
            <input type="text" id="bookname" name="bookname" ><br>
            <label>Author name</label>
            <input type="text" id="authorname" name="authorname" ><br>
            <input type="submit" value="Submit">

        </form>

    </div>

</div>









</body>
</html>